In [10]:
import shutil
import pandas as pd

shutil.copyfile('./all/all1.txt', './all/all1.csv')
data = pd.read_csv('./all/all1.csv')
data.head()

,control_number,student1,student2,student3,university,prize,Unnamed: 6
0,2200002,Jiaying Yin,Yingxin Liu,Zhehan Qi,BNU-HKBU United International College,Successful Participant,NaN
1,2200003,Ding Xueqi,Wang Yian,Liu Yuxuan,BNU-HKBU United International College,Successful Participant,NaN
2,2200004,Li Sirui,Peng Bo,Xiao Dingwen,BNU-HKBU United International College,Honorable Mention,NaN
3,2200005,He Yandi,Fu Weichen,Sun Qihao,BNU-HKBU United International College,Successful Participant,NaN
4,2200006,Hansheng Li,Hongx1 Zhang,Haoxuan Feng,BNU-HKBU United International College,Successful Participant,NaN

In [14]:
data['university'].value_counts()

BNU-HKBU United International College                               30
Shenzhen University                                                  2
Wuhan University                                                     2
Jiamusi University                                                   2
Tianjin University                                                   2
University of Science and Technology of China                        1
Successful Participant                                               1
China University of Petroleum (East China)                           1
Northeast Agricultural University                                    1
Honorable Mention                                                    1
Successful Participant                                               1
Lanzhou University                                                   1
Disqualified - P                                                     1
Guizhou University                                                   1
Maynooth Engineering                                                 1
Honorable Mention                                                    1
Hainan university                                                    1
China Jiliang University                                             1
Shanghai University                                                  1
ChongQing University of arts and sciences                            1
China University of Geosciences (wu han)                             1
Honorable Mention                                                    1
Name: university, dtype: int64

In [13]:
data['prize'].value_counts()

Successful Participant                                      4
Successful Participant                                      4
Successful Participant                                      3
Successful Participant                                      3
Successful Participant                                      3
Honorable Mention                                           2
Successful Participant                                      2
Successful Participant                                      2
Honorable Mention                                           2
Successful Participant                                      1
Meritorious Winner                                          1
Successful Participant                                      1
Honorable Mention                                           1
Honorable Mention                                           1
Successful Participant                                      1
Disqualified - P                                            1
Successful Participant                                      1
Successful Participant                                      1
Unsuccessful - I                                            1
Successful Participant                                      1
Honorable Mention                                           1
Disqualified - P                                            1
Honorable Mention                                           1
Honorable Mention                                           1
Meritorious Winner                                          1
Successful Participant                                      1
Meritorious Winner                                          1
Honorable Mention                                           1
Disqualified - P                                            1
Successful Participant                                      1
Successful Participant                                      1
Successful Participant                                      1
Honorable Mention                                           1
Name: prize, dtype: int64